<%# Add form or button that allows user to return to homepage and view all of their racecars %>
<h1><%= @racecar.car_name %><br></h1>
<br>
<h4><form method="get" action="/users">
    <input type="submit" value="Back to Your Raceteam">
</form></h4>
<h5>
    <strong>Driver:</strong> <%= @racecar.driver %><br>
    <strong>Number:</strong> <%= @racecar.number %><br>
    <strong>Driver Bio:</strong> <%= @racecar.driver_bio %><br>
</h5>

<% if @racecar.user_id == current_user.id %>
<form method="get" action="/racecars/<%=@racecar.id%>/edit">
    <input type="submit" class="button" value="Edit Racecar">
</form>

<br>

<form method="post" action="/racecars/<%=@racecar.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete Racecar</button>
</form>
<% end %>